#main {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  
}

.shorten-container {

  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 20px;
}

.btn-shorten {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  min-width: 100px;
  display: flex;
  gap: 10px;
  justify-content:center;
  align-content:center;
  align-items:center;
}

.url-result {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    gap:10px;
    font-size:20px;
}
.url-result a {
    color: black;
}

.fa-solid {
    cursor: pointer;
}

.complete-container {
    display: flex;
    justify-content:center;
    flex-direction:column;
    gap:10px;
}

.green-message {
  color: green;
  text-align: center;
}
