<div id="main">
	<div class="shorten-container" *ngIf="!shortened">
		<div>
			<div class="input-group">
				<input type="url" class="form-control" id="urlInput" placeholder="http://..." required [(ngModel)]="urlToShorten">
				<div class="input-group-append">
					<button class="btn btn-primary btn-shorten" (click)="shorten()">
						<i class="fa-solid fa-spinner fa-spin" *ngIf="loading"></i>
						<span>Shorten</span>
					</button>
				</div>
			</div>
			
		</div>
	</div>


	<div class="shorten-container complete-container" *ngIf="shortened">
		<div class="url-result"><h1 id="shortenedUrl" class="text-center"><a target="_blank" [href]="urlResult">{{urlResult}}</a></h1><i class="fa-solid fa-copy" (click)="copy()"></i></div>
	<p class="green-message" *ngIf="alreadyExists">This URL has already been shortened before!</p>
		<button class="btn btn-primary" (click)="reset()">
			<i class="fa-solid fa-rotate-right"></i>
		  Do another one
		</button>
	</div>



</div>
