<app-add-url *ngIf="authService.getToken()" (onAdded)="load()"></app-add-url>
<p *ngIf="!authService.getToken()">Log in to be able to shorten links	.</p>
<br/>
<table class="table">
	<thead>
		<tr>
			<!--<th scope="col">#</th>-->
			<th scope="col">Long URL</th>
			<th scope="col">Shortened URL</th>

		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let urlrecord of records">
			<!--<th scope="row">{{urlrecord.urlRecordId}}</th>-->
			<td>{{urlrecord.originalURL}}</td>
			<td><a target="_blank" href="{{baseURL}}/{{urlrecord.shortenedURL}}">{{baseURL}}/{{urlrecord.shortenedURL}}</a></td>

		</tr>

	</tbody>
</table>
<button class="btn btn-outline-primary btn-load" *ngIf="isThereMoreToLoad()" (click)="loadMore()"><i class="fa-solid fa-caret-down"></i> Load more</button>
